html { 
    font-size: 0.8rem;
}

body {
    background-color: #343a40;
  }

.greenBg{
    background-color: #28a745;
}

.greenFont {
    color:#28a745;
}

.redFont{
    color:#dc3545
}

.redBg{
    background-color: #dc3545;
}

td {
    text-align: center;
}

caption {
    caption-side: top;
    padding:5px 5px;
    text-transform: uppercase;
    color:#FFF;
}